@import '../variables';

.full-cover {
  position: fixed;
  width: 100%;
  height: 100%;
}

.morning {
  .homepage-image-0 {
    background:url('../../img/bgimage-3.jpg');background-size:100% 100%;
    .text-bg {
      mix-blend-mode: multiply;
    }
  }
  .homepage-image-1 {
    background:url('../../img/bgimage-5.jpg');background-size:100% 100%;
    .text-bg {
      mix-blend-mode: multiply;
    }
  }
}

.afternoon {
  .homepage-image-0 {background:url('../../img/bgimage-4.jpg');background-size:100% 100%}
  .homepage-image-1 {background:url('../../img/bgimage-6.jpg');background-size:100% 100%;
  }
}

.evening {
  .homepage-image-0 {
    background:url('../../img/bgimage-1.jpg');background-size:100% 100%;
  }
  .homepage-image-1 {background:url('../../img/bgimage-2.jpg');background-size:100% 100%}
}

.text-bg{
  background: $black;
  display: inline-block;
  padding: 0 1%;
  margin: 22.5% 0 0 12.5%;
  height: 6.75em;
  border: 1px solid $white;
  opacity: 0.8;
  border-radius: 15px;
}