@import '../variables';

.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $body-text;
    position: fixed;
    width: 100%;
    min-height: 60px;
    z-index: 1;
    background: $white;
    font-family: 'Lato', cursive;
    font-size: $font-size-small;
    text-transform: uppercase;
    .item {
        flex-direction: row;
        padding: 0 20px 0px 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        &:last-child {
        }
        p {

        }
    }
    a.item:hover {
        text-decoration: none;
        padding: 0 20px 0px 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        color: $blue;
    }
    .item.active,
    a.item:focus {
        text-decoration: none;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        color: $secondary-red;
    }
    a {
        color: $black;
        text-decoration: none;
    }
}