.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #fff;
    position: absolute;
    width: 100%;
    min-height: 60px;
    z-index: 1;
    background: #000;
    .item {
        flex-direction: row;
        padding: 0 20px 0px 20px;
        // border-top: 10px solid #000;
        // border-bottom: 10px solid #000;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        &:last-child {
        }
        p {

        }
    }
    a.item:hover {
        text-decoration: none;
        background: #000;
        // border-top: 10px solid #fff;
        padding: 0 20px 0px 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        color: #fafa6c;
    }
    .item.active,
    a.item:focus {
        text-decoration: none;
        background: #000;
        // border-top: 10px solid #45e7ff;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        color: #45e7ff;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}