
@import '../variables';

.page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: $white;
    padding: $spacing-medium $spacing-large;
    margin: 0 $spacing-large;
    color: $black;
    h1 {
        margin-top: $spacing-large;
        color: $black;
    }
    .page__content {
        margin: $spacing-medium 0;
    }
}
