@import '../variables';

.portfolio {
    margin: 0 $spacing-medium;
    width: 90%;
    h1 {
        padding: 0.6rem 0 0.2rem 0;
    }
    h2 {
        min-height: 120px;
        min-width: 205px;
        text-align: center;
        border: 1px solid $black;
        // border-radius: 150px;
        &:hover {
            box-shadow: 0px 10px 10px 0px $grey;
            -webkit-animation: blurb-fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: blurb-fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            margin-top: 5px;
            border: 1px solid $blue;
        }                
    }
    .blurb {
        margin: 0 $spacing-large * 1.1;
        -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @-webkit-keyframes blurb-fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes blurb-fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .portfolio {
        height: 120px;
        @for $i from 1 through 12 {
            &--#{$i} {
                &.hide--#{$i} {
                    display: none;
                }
                &.show--#{$i} {
                    display: block;
                }
                .title-- {
                    background: url('../../img/company-#{$i}.png') no-repeat center center;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    background-size: 75%;
                    width: 205px;
                    height: 120px;
                    margin: -25px 12.5px 20px 12.5px;
                    -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    &:hover {
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);
                    }
                }
                .title {
                    background: url('../../img/company-#{$i}.png');
                    background-size: 155px; 
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    margin: -50px 0 0 0;
                    -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    h2 {
                        border: none;
                        margin-top: 20px;
                        &:hover {
                            box-shadow: none;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }   
}