@import '../variables';

.portfolio {
    margin: 0 $spacing-medium;
    h1 {
        padding: 0.6rem 0 0.2rem 0;
    }
    h2 {
        min-height: 60px;
        min-width: 220px;
        text-align: center;
    }
    .title {
        width:100%;
        -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    .blurb {
        margin: 0 $spacing-large * 1.8;
        -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: blurb-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @-webkit-keyframes blurb-fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes blurb-fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .portfolio {
        @for $i from 1 through 12 {
            &--#{$i} {
                &.hide--#{$i} {
                    display: none;
                }
                &.show--#{$i} {
                    display: block;
                }
            }
        }
    }   
}