.logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: fixed;
  top: 6.5rem;
  left: 3rem; }
  .logo .logo__image {
    background: url("../../img/logo-JW.png");
    background-size: 100%;
    width: 91px;
    height: 60px; }
  .logo .logo__text {
    font-size: 13px;
    color: #ff6060;
    padding-top: 2px; }
  .logo .logo__location {
    font-size: 11px;
    font-style: italic; }
