.page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  padding: 3rem 6rem;
  margin: 0 6rem;
  color: #000000; }
  .page h1 {
    margin-top: 6rem;
    color: #000000; }
  .page .page__content {
    margin: 3rem 0; }
