.portfolio {
  margin: 0 5%;
  width: 90%; }
  .portfolio h1 {
    padding: 0.6rem 0 0.2rem 0; }
  .portfolio h2 {
    min-height: 120px;
    min-width: 205px;
    text-align: center;
    border: 1px solid #000000; }
    .portfolio h2:hover {
      box-shadow: 0px 10px 10px 0px #d5d5d5;
      -webkit-animation: blurb-fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      margin-top: 5px;
      border: 1px solid #2ec4ff; }
  .portfolio .blurb {
    margin: 0 11%;
    -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes blurb-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blurb-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .portfolio .portfolio {
    height: 120px; }
    .portfolio .portfolio--1.hide--1 {
      display: none; }
    .portfolio .portfolio--1.show--1 {
      display: block; }
    .portfolio .portfolio--1 .title-- {
      background: url("../../img/company-1.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--1 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--1 .title {
      background: url("../../img/company-1.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--1 .title h2 {
        border: none; }
        .portfolio .portfolio--1 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--2.hide--2 {
      display: none; }
    .portfolio .portfolio--2.show--2 {
      display: block; }
    .portfolio .portfolio--2 .title-- {
      background: url("../../img/company-2.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--2 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--2 .title {
      background: url("../../img/company-2.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--2 .title h2 {
        border: none; }
        .portfolio .portfolio--2 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--3.hide--3 {
      display: none; }
    .portfolio .portfolio--3.show--3 {
      display: block; }
    .portfolio .portfolio--3 .title-- {
      background: url("../../img/company-3.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--3 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--3 .title {
      background: url("../../img/company-3.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--3 .title h2 {
        border: none; }
        .portfolio .portfolio--3 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--4.hide--4 {
      display: none; }
    .portfolio .portfolio--4.show--4 {
      display: block; }
    .portfolio .portfolio--4 .title-- {
      background: url("../../img/company-4.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--4 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--4 .title {
      background: url("../../img/company-4.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--4 .title h2 {
        border: none; }
        .portfolio .portfolio--4 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--5.hide--5 {
      display: none; }
    .portfolio .portfolio--5.show--5 {
      display: block; }
    .portfolio .portfolio--5 .title-- {
      background: url("../../img/company-5.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--5 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--5 .title {
      background: url("../../img/company-5.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--5 .title h2 {
        border: none; }
        .portfolio .portfolio--5 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--6.hide--6 {
      display: none; }
    .portfolio .portfolio--6.show--6 {
      display: block; }
    .portfolio .portfolio--6 .title-- {
      background: url("../../img/company-6.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--6 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--6 .title {
      background: url("../../img/company-6.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--6 .title h2 {
        border: none; }
        .portfolio .portfolio--6 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--7.hide--7 {
      display: none; }
    .portfolio .portfolio--7.show--7 {
      display: block; }
    .portfolio .portfolio--7 .title-- {
      background: url("../../img/company-7.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--7 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--7 .title {
      background: url("../../img/company-7.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--7 .title h2 {
        border: none; }
        .portfolio .portfolio--7 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--8.hide--8 {
      display: none; }
    .portfolio .portfolio--8.show--8 {
      display: block; }
    .portfolio .portfolio--8 .title-- {
      background: url("../../img/company-8.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--8 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--8 .title {
      background: url("../../img/company-8.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--8 .title h2 {
        border: none; }
        .portfolio .portfolio--8 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--9.hide--9 {
      display: none; }
    .portfolio .portfolio--9.show--9 {
      display: block; }
    .portfolio .portfolio--9 .title-- {
      background: url("../../img/company-9.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--9 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--9 .title {
      background: url("../../img/company-9.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--9 .title h2 {
        border: none; }
        .portfolio .portfolio--9 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--10.hide--10 {
      display: none; }
    .portfolio .portfolio--10.show--10 {
      display: block; }
    .portfolio .portfolio--10 .title-- {
      background: url("../../img/company-10.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--10 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--10 .title {
      background: url("../../img/company-10.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--10 .title h2 {
        border: none; }
        .portfolio .portfolio--10 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--11.hide--11 {
      display: none; }
    .portfolio .portfolio--11.show--11 {
      display: block; }
    .portfolio .portfolio--11 .title-- {
      background: url("../../img/company-11.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--11 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--11 .title {
      background: url("../../img/company-11.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--11 .title h2 {
        border: none; }
        .portfolio .portfolio--11 .title h2:hover {
          box-shadow: none; }
    .portfolio .portfolio--12.hide--12 {
      display: none; }
    .portfolio .portfolio--12.show--12 {
      display: block; }
    .portfolio .portfolio--12 .title-- {
      background: url("../../img/company-12.png") no-repeat center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      background-size: 75%;
      width: 205px;
      height: 120px;
      margin: -25px 12.5px 20px 12.5px;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--12 .title--:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); }
    .portfolio .portfolio--12 .title {
      background: url("../../img/company-12.png");
      background-size: 155px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      margin: -50px 0 0 0;
      -webkit-animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: blurb-fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .portfolio .portfolio--12 .title h2 {
        border: none; }
        .portfolio .portfolio--12 .title h2:hover {
          box-shadow: none; }
