@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body {
  margin:0;
  padding:0;
  font-family: 'Poiret One', cursive;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width:100%;
}

$dark: #3e3e3e; 
$light: #ffffff;
$primary-red: #ff6060;
$neutral-grey: #ebebeb;
$title-text: #3e3e3e;
$body-text: #6e6e6e;
$black: #000;
$white: #fff;
$blue: #45e7ff;
$secondary-red: #ff0080;
$yellow: #fafa6c;  
  
@font-face {
  font-family: 'lostwage';
  src: url('../fonts/lostwages/lostwages.otf');
}
