@import './variables';

h1 {
    font-size:5em;
    margin: 0;
    -webkit-animation: expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    @-webkit-keyframes expand-fwd {
        0% {
            letter-spacing: -0.5em;
            -webkit-transform: translateZ(-700px);
                    transform: translateZ(-700px);
            opacity: 0;
        }
        40% {
            opacity: 0.6;
        }
        100% {
            -webkit-transform: translateZ(0);
                    transform: translateZ(0);
            opacity: 1;
        }
    }
    @keyframes expand-fwd {
        0% {
            letter-spacing: -0.5em;
            -webkit-transform: translateZ(-700px);
                    transform: translateZ(-700px);
            opacity: 0;
        }
        40% {
            opacity: 0.6;
        }
        100% {
            -webkit-transform: translateZ(0);
                    transform: translateZ(0);
            opacity: 1;
        }
    }              
}

a {
    color: $primary-red;
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover {
    color: $blue;
    text-decoration: none;
    transition: all 0.4s ease;
}